/* HIDE SCROLLBAR */
::-webkit-scrollbar {
  display: none;
}



body {
  /* MATH UTILITIES */
  
  --gsq: 1.27201964951;
  --g: 1.618033988749;
  --g2: 2.618033988746;
  --g3: 4.236067977492;
  --g4: 6.854101966234;


  margin: 0;
  overflow: hidden;
  height:100vh;
  /* border: 3px solid rgb(255, 0, 238); */

  font-family: Arial;

}

#root {
  height: 100%;
  width: 100%;
}

/* SITE THEMES */
#theme_container {
  height: 100%;
}

.light {
  --background: rgb(28, 28, 28);
  --background-secondary: rgb(15, 15, 15);
  --header-background: rgb(49, 49, 49);
  --element-background: rgb(58, 58, 58);
  --popup-background: rgb(58, 58, 58);
  --button-background: rgb(103, 103, 103);
  --button-selected: rgb(82, 82, 82);
  --selected-subheading: rgb(69, 69, 69);
  --text-primary: rgb(236, 231, 231);
  --text-secondary: grey;

  background-color: var(--background);
  color: var(--text-primary);
}

.dark {
  --background: rgb(28, 28, 28);
  --background-secondary: rgb(15, 15, 15);
  --header-background: rgb(49, 49, 49);
  --element-background: rgb(58, 58, 58);
  --popup-background: rgb(58, 58, 58);
  --button-background: rgb(103, 103, 103);
  --button-selected: rgb(82, 82, 82);
  --selected-subheading: rgb(69, 69, 69);
  --text-primary: rgb(236, 231, 231);
  --text-secondary: grey;
  --accent-color: #9b5486;
  --text-link: lightblue;
  
  background-color: var(--background);
  color: var(--text-primary);
}

/* MAIN LAYOUT */
#header_container {
  height: 10%;
  width: 100%;
  /* border: 4px solid rgb(0, 4, 255); */
  background: var(--background-secondary)
}

#nav_main_and_dash_container {
  display: flex;
  height: 90%;
  width: 100%;
  /* border: 5px solid rgb(0, 255, 38); */
}

#nav_and_left_dash_container {
  width: auto;
  min-width: 15%;
  height: 100%;
  /* border: 3px solid rgb(0, 174, 255); */
  background: var(--background-secondary)
}

#main_content {
  height: 100%;
  width: 100%;
  overflow: auto;
  /* border: 5px solid rgb(27, 74, 34); */
}

/* POPUPS */
.pop-up-container {
  text-align: center;
  border: 1px solid var(--text-link);
  border-radius: 1rem;
  background-color: var(--popup-background);
  width: 50%;
  height: calc(fit-content * var(--g));
  height: fit-content;
  position: fixed;
  margin-top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  /* overflow: scroll; */
}

.test {

}

.tab-header {
  width: 90%;
  height: 6%;
  position: relative;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.tab-button {
  position: absolute;
  height: 100%;
  width: 20%;
  background-color: white;
  border-radius: 6rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left ease-in-out .6s;
}

.tab-1-of-5 {
  left: 0%;
}

.tab-2-of-5 {
  left: 20%;
}

.tab-3-of-5 {
  left: 40%;
}

.tab-4-of-5 {
  left: 60%;
}

.tab-5-of-5 {
  left: 80%;
}

.tab-search {
  background-color: darkslategray;
  position: absolute;
  left: 0%;
  height: 100%;
  width: 20%;
  border-radius: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: get-wide ease-in-out .8s;
  animation-fill-mode: forwards;
}

.tab-cover {
  background-color: red;
  position: absolute;
  right: 0%;
  height: 100%;
  width: 20%;
  border-radius: 6rem;
  animation: get-wide ease-in-out .8s;
  animation-fill-mode: forwards;
  background-color: var(--background-secondary);
}

@keyframes get-wide {
  0% { 
    width: 20%;
    /* opacity: 0%; */
   }
  100% { 
    width: 100%;
    /* opacity: 100%; */
  }
}

.back-button {
  background-color: grey;
  position: absolute;
  height: 90%;
  width: 8%;
  border-radius: 6rem;
  right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}


input {
  width: 12rem;
  margin: .5rem;
}

.pop-up-title {
  font-size: calc(var(--g) * 1.2rem);
  margin-top: calc(var(--g) * 1.9rem);
  margin-bottom: calc(var(--g2) * 1rem);
}

.pop-up-keyword {
  color: var(--accent-color);
}

.pop-up-text {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: var(--g) * 1rem;
  padding-bottom: calc(var(--gsq) * .5rem);
}

.form-container {
  /* border: 3px solid rgb(0, 255, 47); */
  display: flex;
  justify-content: center;
}

.form-item-div {
  display: flex;
  justify-content: center;
  /* border: 3px solid rgb(170, 79, 255); */
}

.submit-button, .submit-button:visited {
  /* border: 3px solid rgb(255, 79, 79); */
  background-color: var(--accent-color);
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 1vh;
  color: white;
  padding: 10px 15px 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 15px 10px 15px;
  margin-bottom: 3rem;
  cursor: pointer;
}

#file-being-uploaded {
  visibility: hidden;
  position: absolute;
  width: 0%;
  height: 0%;
}

#lazy-first-signup-page {
  opacity: 0%;
  animation: fade_in .75s;
  animation-delay: .5s;
  animation-fill-mode: forwards;

}

@keyframes fade_in {
  0% { opacity: 0% }
  100% { opacity: 100% }
}