.main_and_pop_up {
    position: relative;
    height: 100%;
    width: 100%;
}

.main_content {
    width: 99.5%;
    height: 99%;
    /* border: 3px solid rgb(255, 0, 238); */
}

.game_details_panel {
    position: relative;
    width: 85%;
    height: 63%;
    border: 1.7px solid rgb(177, 46, 225);
    border-radius: .5vw;
    background-color: rgb(47, 28, 65);
    margin: auto;
    margin-top: 5vh;
    display: flex-block;
    align-items: center;
    justify-content: center;
}

.header_box {
    height: 10%;
    width: 65%;
    margin: auto;
    margin-bottom: 3vh;
    margin-top: 5vh;
    border: 1.7px solid rgb(177, 46, 225);
    border-radius: 1.9vw;

    text-align: center;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.game_settings_box {
    position: relative;
    display: flex;
    flex-direction: flex-end;
    height: 40%;
    width: 85%;
    margin: auto;
    margin-bottom: 3vh;
    border: 1.7px solid rgb(177, 46, 225);
    border-radius: .5vw;
}

.collection_slot {
    /* position: absolute;
    top: 10%;
    left: 5%; */
    /* border: 1.7px solid rgb(177, 46, 225); */
    position: absolute;
    width: 90%;
    margin: auto;
    top: 5%;
    left: 5%;
}

.selected_collection_container {
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1.7px solid transparent;
    width: 100%;
    /* overflow: hidden; */
}

/* .thumb_text_container {
    position: relative;
    border: 1.7px solid rgb(177, 46, 225);
    width: fit-content;
} */

.cover_art {
    position: relative;
    /* bottom: 0%; */
    width: 20vw;
    height: 6vw;
    border-radius: 2.3em;
    transition: filter .5s;
    margin: 7px;
    /* overflow: hidden; */
}

.cover_art:hover {
    filter: brightness(2);
    background-color: #fff;
    box-shadow:
    0 0 0px 3px rgb(67, 67, 67),  /* inner black */
    0 0 10px 6px #f0f, /* middle magenta */
    0 0 14px 9px #0ff; /* outer cyan */
}

.collection_title {
    /* position: absolute; */
    /* bottom: 20%; */
    /* left: 10%; */
    /* margin-top: 3rem; */
    margin-top: auto;
    margin-bottom: 8px;
    width: fit-content;
    height: fit-content;
    /* height: fit-content; */
    /* background-color: gray; */
    /* margin-left: 17rem; */
    font-size: 2vw;
    /* border: 1.7px solid rgb(177, 46, 225); */
}

.game_type_selector {
    height: 100%;
    width: 100%;
    /* background-color: white; */
}

.custom_settings_box {
    text-align: center;
    height: 18%;
    width: 65%;
    margin: auto;
    margin-bottom: 3vh;
    border: 1.7px solid rgb(177, 46, 225);
    border-radius: .5vw;
}

.custom_url {
    font-size: 2vw;
    /* margin-top: 2rem; */

}

.custom_settings_box label {
    /* margin: 5vw; */
}

input {
    text-align: center;
}

.create_button {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: rgb(177, 46, 225);
    color: white;
    width: 12vh;
    height: 3vh;
    border-radius: 1rem;
    /* margin: .5rem; */
    margin-top: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 1.2vh;
}

.pop_up {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 80%;
    /* border: 3px solid rgb(255, 0, 238); */
    margin: auto;
    background-color: rgb(57, 57, 107);
    opacity: 60%;
    overflow: auto;
    transition: opacity .2s;
    border: 1.7px solid rgb(247, 225, 255);
    border-radius: .5vw;
}

.directions {
    margin: 2rem;
    margin-top: 3rem;
    text-align: center;
}

.heading {
    font-size: 2rem;
}

.thumbs_container {
    width: 85%;
    margin: auto;
    background-color: rgb(69, 69, 107);
    border: 1px solid rgb(234, 175, 255);
    border-radius: .5vw;
}

.inset_thumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    margin-bottom: 3rem;
}

.blur {
    filter: blur(5px);
}

.hidden {
    opacity: 0%;
    pointer-events: none;
}



.next_button {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: green;
    color: white;
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.blurry_background_container {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: .8rem;

    /* border: 3px solid red; */
}

.blurry_background_img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: blur(30px);
}