#quick_settings_panel {
    position: absolute;
    margin-top: .5vw;
    right: 1.2vw;
    background: var(--element-background);
    border-radius: .7vw;
}

#quick_settings_container {
    white-space: nowrap;
    font-size: 1.2vw;
    width: fit-content;
}

.quick_settings_btn {
    text-align: center;
    background: var(--button-background);
    border-radius: .6vw;
    margin: 1vw 1vw;
}