/* .loading_screen {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: white;
    transition: opacity 1s;
    pointer-events: none;
}

.transition_fade {
    opacity: 0%;
}

.finalize_turn_button {
    position: absolute;
    right: 5%;
    bottom: 34%;
    height: 6vw;
    width: 6vw;
    background-color: rgb(105, 141, 141);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: filter .3s;
}

.turn_unfinishable {
    background-color: rgb(41, 56, 56);
}

.finalize_turn_button:hover {
    filter: brightness(1.25)
} */

/* CARDLIST */


/* .card_outer_container {
    position: relative;
    width: 20%;
    transition: scale .3s ease-out;
    perspective: 1000px;
}

.set_down {
    animation: set_down .2s ease-out;
}

@keyframes set_down {
    0% {scale: 1.25}
    100% {scale: 1}
}

@keyframes set_half_way {
    0% {scale: 1.25}
    100% {scale: .8}
}

.card_inner_container {
    margin: 10%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card_image {
    width: 100%;
    height: auto;
}

.card_absolute_overlay {
    position: absolute;
    text-align: right;
    bottom: 0%;
    right: 0%;
    height: 100%;
    width: 100%;
    pointer-events: none;
} */
.give_game_fullscreen {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, .8)), url("https://openailabsprodscus.blob.core.windows.net/private/user-ZX9sdPsHMBN5ywyiabqtllE5/generations/generation-CkPN1TSYgwDjIHWr8Zvhe5Jh/image.webp?st=2022-11-10T18%3A26%3A09Z&se=2022-11-10T20%3A24%3A09Z&sp=r&sv=2021-08-06&sr=b&rscd=inline&rsct=image/webp&skoid=15f0b47b-a152-4599-9e98-9cb4a58269f8&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2022-11-10T17%3A23%3A37Z&ske=2022-11-17T17%3A23%3A37Z&sks=b&skv=2021-08-06&sig=HrsLB/3VmeKZpvbZGjTdXnkfz5xTQrgUg4xyHSXd1I0%3D");
    background-size: 100vw;
}

.loading_screen {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: white;
    transition: opacity 1s;
    pointer-events: none;
}

.transition_fade {
    opacity: 0%;
}

.game_container {
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: white; */
}

.position_cardlist {
    position: relative;
    width: 70%;
    height: 100%;
    margin: auto;
    bottom: 0%;
    border: 3px solid rgb(89, 255, 86);

}

.cards_container {
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 10%;
    width: 100%;
    height: 27%;
    margin: auto;
    border: 3px solid rgb(255, 0, 0);
    /* transition: scale 3s ease-in; */
}

.add_snappy_fade_in {
    animation: snappy_fade_in .05s ease-in;
    /* animation-delay: 1s; */
}

@keyframes snappy_fade_in {
    0% { opacity: 0% }
    100% { opacity: 100% }
}

.add_small_and_fade {
    /* scale: .8; */
    animation: small_and_fade 3s ease-in;
    animation-fill-mode: forwards;
}

@keyframes small_and_fade {
    0% { 
        opacity: 100%;
        filter: blur(0px);
    }
    60% {
        opacity: 93%;
    }
    85% {
        opacity: 50%;
    }
    100% {
        opacity: 0%;
        scale: .8;
        filter: blur(10px);
    }
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip_card {
    background-color: transparent;
    width: 15%;
    margin: 1vw;
    height: 100%;
    border: 1px solid #f1f1f1;
    border: 10px solid rgb(255, 0, 238);
    
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
}

.add_flip_reveal {
    animation: flip_reveal .7s ease-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.no_flip {
    transform: rotateY(180deg);
}

@keyframes flip_reveal {
    0% {
        transform: rotateY(0deg)
    }
    100% {
        transform: rotateY(-180deg)
    }
}

.add_flip_facedown {
    animation: flip_facedown 3s;
    animation-delay: .1s;
    animation-fill-mode: forwards ease-in-out;
}

@keyframes flip_facedown {
    0% { 
        transform: rotateY(-180deg);
    }
    100% {
        transform: rotateY(-360deg);
    }
}

/* Position the front and back side */
.flip_card_front, .flip_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Safari */
}

/* Style the front side (fallback if image is missing) */
.flip_card_front {
    /* background-color: #bbb; */
    color: black;
    transform: rotateY(180deg);
}

/* Style the back side */
.flip_card_back {
    background-color: dodgerblue;
    color: white;
    /* transform: rotateY(180deg); */
}

.image_sizing_selectable {
    width: 100%;
    transition: scale .3s ease-out;
    /* transition: scale .3s ease-out, box-shadow 2s ease-out; */

}

.unselected_hoverable {
    scale: 1;
}

.unselected_hoverable:hover {
    scale: 1.25;
}

.selected_unhoverable {
    scale: 1.25;
    /* box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #0ba9ca, 0 0 30px #0ba9ca,
    0 0 40px #0ba9ca, 0 0 50px #0ba9ca; */
    animation: slow_pulse 1.3s infinite alternate ease-out;
    border-radius: 5%;
}

@keyframes slow_pulse {
    100% {
        box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ba9ca,
        0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
    }
}

.set_down {
    animation: set_down .8s ease-out;
}

@keyframes set_down {
    0% {scale: 1.25}
    100% {scale: 1}
}

.set_selected_down {
    animation: set_down .8s ease-out;
    animation-fill-mode: forwards;
}

@keyframes set_selected_down {
    0% {scale: 1.25}
    100% {scale: 1}
}

.finalize_turn_button {
    position: absolute;
    right: 5%;
    bottom: 34%;
    height: 6vw;
    width: 6vw;
    background-color: rgb(105, 141, 141);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: filter .3s;
}

.turn_unfinishable {
    background-color: rgb(41, 56, 56);
}

.finalize_turn_button:hover {
    filter: brightness(1.25)
}