.loading_screen {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: white;
    transition: opacity 1s;
    pointer-events: none;
}

.fade_away {
    opacity: 0%;
}