#header_contents {
    text-align: center;
}

h1 {
    margin: auto;
}

.sitelogo {
    height: 90px;
    position: absolute;
    left: 0%;
    top: 0%;
}

.header_image {
    pointer-events: none;
    position: fixed;
    left: 0vw;
    top: 8%;
    opacity: 60%;
    width: 100vw;
    /* z-index: -1; */
}