.grid_container {
    /* border: 3px solid rgb(163, 218, 243); */
    /* display: flex; */
    justify-content: center;
}

.grid {
    /* border: 3px solid rgb(0, 255, 47); */
    width: 100%;
    top: 3%;
    /* display: flex; */
    display: grid;
    /* grid-template-columns: 30% 30% 40%; */
    /* gap: .2rem; */
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: max-content;
}

.grid_box {
    display: absolute;
    margin: 0;
    padding: 0;
}

.grid_box_span_2 {
    display: absolute;
    grid-column: span 2;
}

.publication_container {
    height: 100%;
    position: relative;
}

.cover_image {
    position: relative;
    width: 100%;
    height: 100%;
    transition: filter .1s;
}

.cover_image:hover {
    filter: blur(3px);
}

.publication_title {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.article_wrapper {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    background: rgb(37, 37, 90);
    border-radius: 1rem;
    border: 1px solid rgb(176, 176, 176);
}

.article_text_wrapper {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    background: rgb(37, 37, 90);
    border-radius: 1rem;
    border: 1px solid rgb(176, 176, 176);
}

.article_body_wrapper {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    background: rgb(37, 37, 90);
}

.article_image_container {
    width: 95%;
    height: 26vw;
    margin: auto;
    margin-top: 1.5vw;
    overflow-y: hidden;
}

.article_image {
    margin-top: -3vw;
    width: 100%;
    /* height: 200px; */
}

.article_wrapper h2 {
    text-align: center;
    color: white;
    font-size: 2.5rem;
}

.article_wrapper span {
    font-size: 2rem;
    font-style: oblique;
}

span {
    color: #ff71e7;
}

.article_wrapper h3 {
    color: rgb(220, 220, 220);
    font-size: 1.5rem;
}

.article_wrapper p {
    color: rgb(202, 202, 202);
}

.scroll_to_top_container {
    position: relative;
    display: grid;
    grid-template-columns: 12.5% 25% 25% 25% 12.5%;
    width: 100%;
    /* height: 100%; */
    /* background: red; */
    color: black;
    align-items: center;
    justify-content: center;

}

.scroll_to_top_btn {
    /* position: absolute; */
    width: 90%;
    background: rgb(63, 88, 121);
    height: 20px;
    right: 0%;
    border-radius: 10%;
    margin: 1rem;

}