#sidebar_container {
    display: inline-block;
    border: 3px solid red;
    width: 100%;
}

.nav_items {
    text-align: right;
    display: block;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: .5vw;
    margin-left: 2vw;
    margin-right: 1.5vw;
    font-size: 3vw;
    color: var(--text-primary);
    text-decoration: none;
    cursor: default;
}

.nav_items:hover {
    background-color: var(--text-secondary);
}