#sidebar_container {
    display: inline-block;
    border: 3px solid red;
    width: 100%;
}

.nav_items {
    text-align: center;
    display: block;
    /* margin-top: 4%;
    margin-bottom: 4%;
    margin-right: .5vw;
    margin-left: 1vw;
    margin-right: 2vw; */
    font-size: 2.7vw;
    color: var(--text-primary);
    height: 100%;
    width: 100%;
    text-decoration: none;
    cursor: default;
    background-color: rgb(36, 36, 36);
}

.main_tab:hover {
    background-color: var(--text-secondary);
}

#selected_path {
    background-color: var(--button-selected);
}

.main_tab {
    border: 3px solid rgb(0, 208, 255);
    background-color: var(--header-background);
    display: inline-flex;
    width: 100%;
}

.sub_items {
    text-align: right;
    /* border: 3px solid rgb(0, 208, 255); */
    display: block;
    font-size: 1.9vw;
    margin-right: 1rem;
    color: var(--text-primary);
    color: rgb(178, 178, 178);
    height: 100%;
    width: 90%;
    text-decoration: none;
    cursor: default;
    /* background-color: var(--header-background); */
}

#selected_sub_item {
    background-color: var(--selected-subheading);
}
