#sidebar_container {
    display: inline-block;
    /* border: 3px solid red; */
    width: 100%;
}

.main_tab {
    /* border: 3px solid rgb(0, 208, 255); */
    background-color: var(--background-secondary);
    display: inline-flex;
    width: 100%;
}

.main_tab:hover {
    background-color: var(--text-secondary);
}

.nav_items {
    text-align: center;
    display: block;
    font-size: 2.4vw;
    color: var(--text-primary);
    height: 100%;
    width: 100%;
    text-decoration: none;
    cursor: default;
    background-color: var(--button-selected);
}

#selected_path {
    background-color: var(--button-selected);
}

.sub_items {
    text-align: right;
    /* border: 3px solid rgb(0, 208, 255); */
    display: block;
    font-size: 1.7vw;
    margin-right: 1rem;
    color: var(--text-primary);
    color: rgb(178, 178, 178);
    height: 100%;
    width: 97%;
    /* width: 0%; */
    text-decoration: none;
    cursor: default;
    /* background-color: var(--header-background); */
}

#selected_sub_item {
    background-color:  var(--selected-subheading);
}
