.avatar_images_container {
    position: relative;
    width: 40vh;
    height: 40vh;
    margin: auto;
}

.avatar_cropped_out_portion {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    filter: brightness(.25);
}

.avatar_crop_animator {
    width: 100%;
    height: 100%;
    animation: show_cropping 2s ease-out;
    animation-fill-mode: forwards;
}

@keyframes show_cropping {
    0% { border-radius: 0%}
    100% { border-radius: 50%}
}

.avatar_title_container {
    position: relative;
    width: 10vh;
    height: 10vh;
    margin: auto;
    margin-top: 3rem;
}

.avatar_title_bubble {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.moods_container {
    width: 80%;
    margin: auto;
    display: grid;
    /* border: 5px solid rgb(0, 255, 38); */
    grid-template-columns: 20% 20% 20% 20% 20%;
    /* gap: 1rem; */
}

.mood_container {
    /* border: 5px solid rgb(0, 255, 38); */
    position: relative;
    display: grid;
    width: 90%;
    /* height: 15vh; */
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    font-size: 1.25vw;
}

.mood_thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}